<html>
	<head>
		<meta charset="utf-8">
		<title>Aftonfonten á la carte</title>
		<link rel="stylesheet" type="text/css" href="/static/style.css">
	</head>

	<body>
		<h1>API</h1>

		<div class="msg left">
			<p class="apidemo">
				http://aftonfont.zulln.se/api/<b>[funktion]</b>/<b>[time]</b><br>
				http://aftonfont.zulln.se/api/<b>all</b>/<b>1419595274</b>-<b>1419695274</b>
			</p>

			<p>
				<b>[funktion]</b><br>

				<table style="width:100%">
					<tr>
						<td>now</td>
						<td>visa nuvarande data.</td> 
					</tr>
					
					<tr>
						<td>all</td>
						<td>visa alla poster mellan förstas och sista tidpunkten.</td> 
					</tr>
				</table>
				
				<br>
				<br>
				<b>[time]</b>
				<table style="width:100%">
					<tr>
						<td>[första]-[sista]</td>
						<td>13214-213451</td>
						<td><i>Specificeras i <a href="https://sv.wikipedia.org/wiki/Unixtid">unixtid</a>.</i></td>
					</tr>
					<tr>
						<td>[string value time]</td>
						<td>last_day</td>
						<td></td>
					</tr>
				</table>
			</p>
		</div>
		
		<footer>
			Kodat av <a href="https://twitter.com/_zulln">@_zulln</a>. Hjälp gärna till på <a href="https://github.com/zulln/aftonfonten">Github</a>.</p>
		</footer>

	</body>
</html>