<html>
	<head>
		<meta charset="utf-8">
		<title>Aftonfonten á la carte</title>
		<link rel="stylesheet" type="text/css" href="static/style.css">
	</head>

	<body>
		<div class="msg">
			<h3>Det gick.</h3>
			<p><b>{{ mail }}</b> kommer få ett mejl när Aftonbladet får för sig att använda en rubrik som är <b>{{ size }}</b> pixlar eller större. Max en gång per dygn.<br><br>

			För att ändra värdet upprepa helt enkelt denna process fast med annat värde som input. För att ta bort dig helt, klicka här: <a href="ta-bort">/ta-bort</a></p>
		</div>

		<footer>
			<p>Kodat av <a href="https://twitter.com/_zulln">@_zulln</a>. Hjälp gärna till på <a href="https://github.com/zulln/aftonfonten">Github</a>.</p>
		</footer>
	</body>
</html>