<html>
	<head>
		<meta charset="utf-8">
		<title>Aftonfonten á la carte</title>
		<link rel="stylesheet" type="text/css" href="static/style.css">
	</head>

	<body>
		<div class="msg">
			<h3>Svik oss.</h3>
			<p>Om du känner att det är nödvändigt att lämna oss i sticket och fly på eget behåg så är det fritt fram, fyll i din adress nedan och vi tar bort dig ur vår databas.</p>
		</div>

		<div class="inputform">
			<form action="" method="post">
			<input name="mail" required type="email" placeholder="mail"><br>
			
			<input type="submit" value="Varna mig!">
			</form>
		</div>

		<footer>
			<p>Kodat av <a href="https://twitter.com/_zulln">@_zulln</a>. Hjälp gärna till på <a href="https://github.com/zulln/aftonfonten">Github</a>.</p>
		</footer>
	</body>
</html>