<html>
	<head>
		<meta charset="utf-8">
		<title>Aftonfonten á la carte</title>
		<link rel="stylesheet" type="text/css" href="static/style.css">
	</head>

	<body>
		<div class="msg">
			<h3>Det gick.</h3>
			<p>Svikare.<br><br>

			<b>Om {{ mail }}</b> fanns med i databasen förrut är den den nu raderad, annars är det oförändrat(no shit..).</p>
		</div>

		<footer>
			<p>Kodat av <a href="https://twitter.com/_zulln">@_zulln</a>. Hjälp gärna till på <a href="https://github.com/zulln/aftonfonten">Github</a>.</p>
		</footer>
	</body>
</html>